<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>User complete application</title>
  </head>
  <body>
    <h1 style="color: brown;">Hello Slim! </h1>
    <p>Yooooo see this.</p>
    <br />
    <p>Email: {{email}}</p>
    <p>First name: {{firstName}}</p>
    <p>Last name: {{lastName}}</p>
    <p>SSN: {{ssn}}</p>
    <p>Address: {{address}}</p>
    <p>State: {{state}}</p>
    <p>City: {{city}}</p>
    <p>Zip code: {{zipCode}}</p>
  </body>
</html>