<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Welcome Email</title>
  </head>
  <body>
    <h1 style="color: brown;">Hello Slim! </h1>
    <p>Yooooo see this.</p>
    <br />
    <p>Email: {{email}}</p>
    <p>Full name: {{fullName}}</p>
    <p>Phone Number: {{phoneNumber}}</p>
    <p>Age: {{age}}</p>
    <p>Position: {{position}}</p>
    <p>Address: {{address}}</p>
    <p>SSN: {{ssn}}</p>
  </body>
</html>